<% if obj.errors.any? %>
  <div id="error_explanation">
    <ul class="bg-danger">
      <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
